.resort__container {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

/* Medium Devices */
@media screen and (max-width: 1024px) {
    .resort__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* Small Device */

@media screen and (max-width: 600px) {
    .resort__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}