/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@400;500;600;700;800&display=swap');
/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */
/*  */

/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;
/*  */

html,
body {
  padding: 0 !important;
  margin: 0 !important;
  background-color: #F5F5F5 !important;
}

h1,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

@media only screen and (min-width: 768px) {
  .hero {
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0.8) 5%,
        rgba(0, 0, 0, 0.8) 5%,
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0.6) 25%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0) 100%),
      url("/hero-section.png");
    background-size: cover;
    height: 80vh;
  }
}

@media only screen and (max-width: 767px) {
  .hero {
    background: linear-gradient(to bottom,
        /* rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 1) 50%,
        rgba(0, 0, 0, 0) 100%), */
        rgba(0, 0, 0, 0.8) 5%,
        rgba(0, 0, 0, 0.8) 5%,
        rgba(0, 0, 0, 0.7) 10%,
        rgba(0, 0, 0, 0.6) 25%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0) 100%),
      url("/hero-section-sm.jpg");
    background-size: cover;
    height: 90vh;
  }
}

.text-underline::after {
  display: block;
  content: '';
  width: 60%;
  height: 3px;
  margin-top: 4px;
  border-radius: 7px;
  background: #F5B963;
  position: absolute;
  /*   bottom: 0; */
  left: 0;
}

.text-underline {
  position: relative;
  width: fit-content;
}

.navItem:hover {
  color: #08898F
}

.button {
  color: white;
  border: 3px solid #08898F;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}

.button:hover {
  color: black;
  border-radius: 5px;
  border: 3px solid black;
  background-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 200ms;
}